<section class="bg-primary text-white p-3">
    <div class="container">
        <div class="row justify-content-evenly">
            <div class="col-12 col-lg-4">
                <div class="hstack align-items-start gap-3 p-3">
                    <div class="bg-white bg-opacity-25 rounded-3 p-3">
                        <img src="Features/online-test.png" height="40px"/>
                    </div>
                    <div>
                        <h3>Discover New Skills Every Day</h3>
                        <p>Enjoy learning with EduVenture Mubarak! Explore reading, math, science, and technology to build skills and grow smarter every day! 4o mini</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="hstack align-items-start gap-3 p-3">
                    <div class="bg-white bg-opacity-25 rounded-3 p-3">
                        <img src="Features/exam.png" height="40px"/>
                    </div>
                    <div>
                        <h3>Get Ready to Achieve Big Things</h3>
                        <p>EduVenture Mubarak empowers every child to be a leader. Our lessons build the knowledge and confidence needed to achieve big dreams.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="hstack align-items-start gap-3 p-3">
                    <div class="bg-white bg-opacity-25 rounded-3 p-3">
                        <img src="Features/certification.png" height="40px"/>
                    </div>
                    <div>
                        <h3>Earn a Certificate</h3>
                        <p>Learning with us is rewarding! Earn badges and certificates as you complete lessons, celebrating your achievements and supporting your next steps in life!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>