<!-- Header -->
<header class="bg-light">
    <div class="container-xl">
        <nav class="navbar navbar-expand-lg navbar-light py-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="favicon.ico" alt="Logo" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <form class="d-flex ms-lg-3 p-1 border border-3 border-primary rounded-pill w-50">
                        <input class="form-control me-2 border-0 bg-transparent shadow-none" type="search" placeholder="What do you want to learn?" aria-label="Search">
                        <button class="btn btn-primary rounded-circle py-1 px-2" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
                        </button>
                    </form>
                    <nav class="navbar-nav ms-auto mb-2 mb-lg-0 fw-bold">
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/about">About</NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link" href="/contact">Contact</NavLink>
                        </li>
                    </nav>
                    <div class="d-grid gap-2 d-md-block ms-auto mb-2 mb-lg-0">
                        <button href="#" class="btn btn-outline-primary fw-bold border-2">Join for free</button>
                        <button href="#" class="btn fw-bold text-primary">Login</button>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>