<!-- Hero Section -->
<section class="p-5 hero-section bg-light overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <p class="display-1 text-start" style="color: #161E64;"><span style="color: #5C5B8F;">Best Learning</span><br/>Education<br/>Platform</p>
                <div class="d-grid col-md-auto col-lg-9">
                    <button class="btn btn-primary p-3" type="button">Start 7-days free trial</button>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-md-between justify-content-lg-start gap-4 mt-4 text-start">
                    <div class="hstack gap-2">
                        <i class="fa-solid fa-head-side-cough fs-5" style="color: #F1BF5A;"></i>
                        <span class="text-black">Public Speaking</span>
                    </div>
                    <div class="hstack gap-2">
                        <i class="fa-solid fa-briefcase fs-5" style="color: #F4876B;"></i>
                        <span class="text-black">Learning Skills</span>
                    </div>
                    <div class="hstack gap-2">
                        <i class="fa-regular fa-lightbulb fs-5" style="color: #B4708D;"></i>
                        <span class="text-black">Creative Thinking</span>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <img width="472px" height="432px" src="illustrations/hero.svg">
            </div>
        </div>
    </div>
</section>