<section class="bg-primary p-5">
    <div class="container vstack gap-3 justify-content-center align-items-center my-3 text-white text-center">
        <h2 >EduVenture Mubarak Plus</h2>
        <div>
            <p>Unlimited access to 7,000+ world-class courses, hands-on projects, and job-ready certificate programs—all included in your subscription</p>
            <p>Unlock limitless learning with EduVenture Mubarak Plus! Enjoy unlimited access to a vast library of world-class courses for kids.<br/>From science and technology to math and the arts, our expert-designed offerings cater to every interest and age group, ensuring a fun and enriching experience.</p>
        </div>
        <button class="btn btn-light text-primary fw-bold py-3 col col-md-4">Start 7-days free trial</button>
        <p class="fw-bold">$59/month, cancel anytime</p>
    </div>
</section>