<section class="p-5 bg-light">
    <div class="container">
        <h5>Explore Programs</h5>
        <h3>Our Most Popular Classes</h3>
        <p>Explore engaging courses that inspire young minds and ignite a passion for learning! From basic literacy to advanced science, our program equips children aged 5 to 16 with essential skills while fostering curiosity. Join us for a unique blend of fun and education!</p>
    </div>
        <div class="container">
            <div class="row justify-content-sm-start justify-content-xl-between g-5 mb-5 mx-0">
                <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                    <div class="border border-1 rounded-3 border-dark" >
                        <img src="illustrations/29651291_7570311.svg" height="256px" width="100%"/>
                        <div class="p-3">
                            <h4>Grade 1 Subjects</h4>
                            <h6>9 Lessons</h6>
                            <div class="hstack justify-content-between align-items-center">
                                <div class="d-inline-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 0 24 24" width="32px" fill="gold"><g><rect fill="none" height="24" width="24"/><path d="M14.43,10l-1.47-4.84c-0.29-0.95-1.63-0.95-1.91,0L9.57,10H5.12c-0.97,0-1.37,1.25-0.58,1.81l3.64,2.6l-1.43,4.61 c-0.29,0.93,0.79,1.68,1.56,1.09L12,17.31l3.69,2.81c0.77,0.59,1.85-0.16,1.56-1.09l-1.43-4.61l3.64-2.6 c0.79-0.57,0.39-1.81-0.58-1.81H14.43z"/></g></svg>
                                    <span>4.9</span>
                                </div>
                                <span>20h 30min</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                    <div class="border border-1 rounded-3 border-dark" >
                        <img src="illustrations/29651288_7578059.svg" height="256px" width="100%"/>
                        <div class="p-3">
                            <h4>Grade 2 Subjects</h4>
                            <h6>10 Lessons</h6>
                            <div class="hstack justify-content-between align-items-center">
                                <div class="d-inline-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 0 24 24" width="32px" fill="gold"><g><rect fill="none" height="24" width="24"/><path d="M14.43,10l-1.47-4.84c-0.29-0.95-1.63-0.95-1.91,0L9.57,10H5.12c-0.97,0-1.37,1.25-0.58,1.81l3.64,2.6l-1.43,4.61 c-0.29,0.93,0.79,1.68,1.56,1.09L12,17.31l3.69,2.81c0.77,0.59,1.85-0.16,1.56-1.09l-1.43-4.61l3.64-2.6 c0.79-0.57,0.39-1.81-0.58-1.81H14.43z"/></g></svg>
                                    <span>4.8</span>
                                </div>
                                <span>30h 30min</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                    <div class="border border-1 rounded-3 border-dark">
                        <img src="illustrations/274483454_1dd692f5-767e-4362-a5ba-f29c89d4b79c.svg" height="256px" width="100%"/>
                        <div class="p-3">
                            <h4>Grade 3 Subjects</h4>
                            <h6>11 Lessons</h6>
                            <div class="hstack justify-content-between align-items-center">
                                <div class="d-inline-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 0 24 24" width="32px" fill="gold"><g><rect fill="none" height="24" width="24"/><path d="M14.43,10l-1.47-4.84c-0.29-0.95-1.63-0.95-1.91,0L9.57,10H5.12c-0.97,0-1.37,1.25-0.58,1.81l3.64,2.6l-1.43,4.61 c-0.29,0.93,0.79,1.68,1.56,1.09L12,17.31l3.69,2.81c0.77,0.59,1.85-0.16,1.56-1.09l-1.43-4.61l3.64-2.6 c0.79-0.57,0.39-1.81-0.58-1.81H14.43z"/></g></svg>
                                    <span>4.6</span>
                                </div>
                                <span>40h 30min</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                    <div class="border border-1 rounded-3 border-dark" >
                        <img src="illustrations/25592722_cf2x_i6pk_220311.svg" height="256px" width="100%"/>
                        <div class="p-3">
                            <h4>Grade 5 Subjects</h4>
                            <h6>15 Lessons</h6>
                            <div class="hstack justify-content-between align-items-center">
                                <div class="d-inline-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 0 24 24" width="32px" fill="gold"><g><rect fill="none" height="24" width="24"/><path d="M14.43,10l-1.47-4.84c-0.29-0.95-1.63-0.95-1.91,0L9.57,10H5.12c-0.97,0-1.37,1.25-0.58,1.81l3.64,2.6l-1.43,4.61 c-0.29,0.93,0.79,1.68,1.56,1.09L12,17.31l3.69,2.81c0.77,0.59,1.85-0.16,1.56-1.09l-1.43-4.61l3.64-2.6 c0.79-0.57,0.39-1.81-0.58-1.81H14.43z"/></g></svg>
                                    <span>4.7</span>
                                </div>
                                <span>45h 30min</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                    <div class="border border-1 rounded-3 border-dark">
                        <img src="illustrations/26163291_9k55_l0g6_220311.svg" height="256px" width="100%"/>
                        <div class="p-3">
                            <h4>Grade 6 Subjects</h4>
                            <h6>16 Lessons</h6>
                            <div class="hstack justify-content-between align-items-center">
                                <div class="d-inline-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 0 24 24" width="32px" fill="gold"><g><rect fill="none" height="24" width="24"/><path d="M14.43,10l-1.47-4.84c-0.29-0.95-1.63-0.95-1.91,0L9.57,10H5.12c-0.97,0-1.37,1.25-0.58,1.81l3.64,2.6l-1.43,4.61 c-0.29,0.93,0.79,1.68,1.56,1.09L12,17.31l3.69,2.81c0.77,0.59,1.85-0.16,1.56-1.09l-1.43-4.61l3.64-2.6 c0.79-0.57,0.39-1.81-0.58-1.81H14.43z"/></g></svg>
                                    <span>4.6</span>
                                </div>
                                <span>50h 30min</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
