@page "/contact"
<section class="py-5 px-0 bg-light">
<div class="container py-5">
    <h4 class="text-center text-uppercase text-primary fw-bold text-decoration-underline">
        Contact us
    </h4>
    <div class="row m-0 gap-4 justify-content-center gy-4">
        <div class="col-12 col-lg-8 col-sm-12">
            <ContactForm/>
        </div>
        <div class="col-12 col-lg-8 col-sm-12">
            <div class="vstack gap-4 justify-content-end h-100">
                <a href="mailto:eduventuremubarak@gmail.com" class="link-dark text-decoration-none">eduventuremubarak@gmail.com</a>
                <div class="container px-0">
                    <div class="hstack gap-3">
                            <a href="https://www.instagram.com/eduventure_mubarak" target="_blank" class="text-decoration-none text-primary">
                                <i class="fab fa-instagram fa-2x"></i>
                            </a>
                            <a href="https://www.facebook.com/profile.php?id=61567307293283&mibextid=ZbWKwL" target="_blank" class="text-decoration-none text-primary">
                                <i class="fab fa-facebook-square fa-2x"></i>
                            </a>
                            <a href="https://x.com/ev_mubarak" target="_blank" class="text-decoration-none text-primary">
                                <i class="fab fa-twitter-square fa-2x"></i>
                            </a>
                            <a href="https://www.linkedin.com/company/eduventure-mubarak/" target="_blank" class="text-decoration-none text-primary">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>